body{
background: rgb(105,166,188); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(105,166,188,1) 0%, rgba(20,51,91,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,166,188,1)), color-stop(100%,rgba(20,51,91,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(105,166,188,1) 0%,rgba(20,51,91,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(105,166,188,1) 0%,rgba(20,51,91,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(105,166,188,1) 0%,rgba(20,51,91,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(105,166,188,1) 0%,rgba(20,51,91,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a6bc', endColorstr='#14335b',GradientType=0 ); /* IE6-9 */

color:#E6E6E6;
}
h1{
	text-align: center;
}
h3 {
	font-style: italic;
	margin: auto;
	width: 45em;
}

canvas{
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

p {
	/*need to customize margin so diver doesn't disappear*/
	margin: 20px auto;
	width: 35em;
}

.divider {
	text-align: center;
}
