body {
	background-color: #111;
	color: #E6E6E6;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

header {
	position: fixed;
	width: 100%;
}

video {
	object-fit: fill;
}

#video-overlay {
	position: absolute;
	top: 0;
	width: 100%;
}

#container, #sub-container {
	background: rgb(105,166,188); /* Old browsers */
	/* Consider replacing the IE rule with a static gradient image. This rule is infamously slow. */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69a6bc', endColorstr='#14335b', GradientType=0 ); /* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(105,166,188)), color-stop(100%, rgb(20,51,91))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top,       rgb(74,158,188) 0%, rgb(20,51,91) 100%); /* Chrome10+, Safari5.1+ */
	background: -moz-linear-gradient(top,       rgb(74,158,188)  0%, rgb(20,51,91) 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,       rgb(74,158,188)  0%, rgb(20,51,91) 100%); /* IE10+ */
	background: -o-linear-gradient(top,       rgb(74,158,188)  0%, rgb(20,51,91) 100%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, rgb(74,158,188)  0%, rgb(20,51,91) 100%);
	position: absolute;
	top: 800px;
	width: 100%;
}

#sub-container {
	margin-top: 500px;
}

h1 {
	font-family: 'Lato', Georgia, sans-serif;
	font-size: 90px;
	font-weight: 300;

	margin: 100px auto 80px;

	text-align: center;
	text-shadow: 1px 1px 1px #666;
	text-transform: uppercase;
}

#video-overlay h2 {
	font-family: 'Lato', Georgia, sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 1px 1px #666;
	text-transform: uppercase;
}
	.byline-attribution {
		font-size: 22px;
		text-transform: lowercase;
	}

.pane {
	height: 600px; /* Dynamically changed by JS */
}

.pane-center {
	/* Dynamically changed with JS: */
	margin-top: -300px; /* - Half */
}

#sub-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

h3 {
	font-family: 'Vollkorn';
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	line-height: 36px;
	margin: auto 10%;
	padding: 0;
	position: absolute;
	top: 50%;
}
	h3#alt-sub-header {
		display: none;
	}

.intro, .outro {
	font-size: 28px;
	line-height: 28px;
}
	.intro {
		margin-bottom: 20px;
	}

	.outro {
		margin-top: 20px;
	}

#main {
	margin: 40px auto;
	padding-bottom: 50px;
	width: 800px;
}

canvas {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

p {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	/*need to customize margin so diver doesn't disappear*/
	margin: 20px;
	text-align: justify;
	font-weight: 300;
}

.quote{
	font-family: 'Optima';
	font-size: 24px;
	text-align: center;
	font-weight: 300;
	/*background-color: rgba(0,0,0,0.1);*/
	padding: .8em;
	margin: auto 30px;
	font-style: italic;
}

.divider {
	text-align: center;
}

#editor{
	background-color: rgba(0,0,0,0.4);
	padding: 1em;
	margin:4em auto;
}

#note{
	text-align: center;
	font-weight: 500;
	font-size: 22px;
}

#gallery-title{
	text-align: center;
	font-size: 22px;
	font-style: bold;
}

#gallery-caption{
	padding: auto;
	margin: auto;
	text-align: left;
	font-size: 14px;
	width: 240px;
}

a{
	color: white;
}

div p.notetxt{
	font-style: italic;
}

#pgcredit{
	background-color: rgba(0,0,0,0.4);
	margin-top: 5em;
	padding: 1em;
}

#pgcredit p{
	text-align:center;
	font-size: 14px;
	margin: auto;
}

span.first {
	font-weight: 500;
	text-transform: uppercase;
}

#one {
	font-size: 24px;
}

figure{
	margin: 0;
	position: relative;
	background-color: rgba(0,0,0, .4);
}

figure img {
	display: block;
	width: 100%;
}

figure .image{
	position: relative;
}

figure.right {
	float: right;
	margin-left: 20px;
}

figure.left{
	float: left;
	margin-right: 20px;
}

figure.left, figure.right {
	width:360px;
}

figure.first {
	margin-bottom: 30px;
}

figure.full{
	width: 769px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0.1em;
}

figure figcaption{
	padding: 1em;
	color: white;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

figure .credit {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 4px;
	background-color: rgba(0,0,0, 0.35);
	color: white;
	font-size:10px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

iframe {
	width:769px;
	height:433px;
}

div.gallery-img {
	margin: 0.3em;
	float:left;
}

div.gallery-img div {
	width: 70px;
	height: 100px;
	overflow: hidden;
	opacity: 0.90;
	margin-bottom: 4px;
}

div.gallery-img div:hover {
	opacity: 1;
}

.gallery-img span {
	font-size: 0.7em;
	font-family: "Roboto", sans-serif;
}

#photo-gallery {
	width: 240px;
	color: #ffffff;
	float:right;
	margin-left: 20px;
	margin-bottom: 15px;
	text-align: center;
	padding: 15px 20px;
	background-color: rgba(0,0,0, 0.4);
}
#photo-gallery p {
		margin: 5px;
}

#chart_div {
	background-color: rgba(0,0,0,0.4);
}

#gallery-quote {
	width: 450px;
}

#diver {
	display: none;
	position:absolute;
	width: 100px;
	height: 100px;
	opacity: 0.4;
	-webkit-transform: rotate(35deg);
	   -moz-transform: rotate(35deg);
	        transform: rotate(35deg);
}

img.reef {
	opacity: 0.2;
	position: absolute;
}
	.reef.left, .reef.right {
		float: none;
		clear: none;
	}
		.reef.left {
			left: 0;
		}
		.reef.right {
			right: 0;
		}

img.left {
	float: left;
	clear: left;
}

img.right {
	float: right;
	clear: right;
}
