body {
	background: rgb(105,166,188); /* Old browsers */
	/* Consider replacing the IE rule with a static gradient image. This rule is infamously slow. */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69a6bc', endColorstr='#14335b', GradientType=0 ); /* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(105,166,188)), color-stop(100%, rgb(20,51,91))); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top,       rgb(105,166,188) 0%, rgb(20,51,91) 100%); /* Chrome10+, Safari5.1+ */
	background:    -moz-linear-gradient(top,       rgb(105,166,188) 0%, rgb(20,51,91) 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top,       rgb(105,166,188) 0%, rgb(20,51,91) 100%); /* IE10+ */
	background:      -o-linear-gradient(top,       rgb(105,166,188) 0%, rgb(20,51,91) 100%); /* Opera 11.10+ */
	background:         linear-gradient(to bottom, rgb(105,166,188) 0%, rgb(20,51,91) 100%);
	color: #E6E6E6;
	margin: 0;
}

header {
}

video {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

#container {
	margin: 40px auto;
	width: 800px;
}

h1 {
	text-align: center;
}

h3 {
	font-style: italic;
	margin: auto;
}

canvas {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

p {
	/*need to customize margin so diver doesn't disappear*/
	margin: 20px auto;
}

.divider {
	text-align: center;
}
