/* Landscape phones and down */
@media (max-width: 480px) {
    #main {
        width: 90%;
    }

    #photo-gallery {
        padding: 15px;
    }

    .image iframe {
        height: 30%;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    #main {
        width: 440px;
    }
}

@media (max-width: 599px) {
    header {
        background-image: url(img/water.jpg);
        background-repeat: no-repeat;
        height: 300px !important; /* (I hate myself) Needed to counteract inline JS styling */
        position: static;
    }

    video {
        display: none;
    }

    #video-overlay {
        position: static;
    }
        #video-overlay h1 {
            font-size: 60px;
            padding-top: 80px;
        }

    #container {
        position: static;
    }

    #sub-container {
        margin: 0 auto;
        position: static;
    }

    #sub-header {
        display: none;
    }

    h3#alt-sub-header {
        display: block;
        font-size: 18px;
        font-weight: 100;
        line-height: 24px;
        margin: 0 0 50px;
        padding: 0;
        position: static;
    }

    .intro, .outro {
        font-size: 24px;
        line-height: 24px;
    }
        .intro {
            margin-bottom: 1em;
        }

    #main {
        padding-top: 30px;
        margin: 0 auto;
    }

	#photo-gallery {
		overflow: hidden;
		width: auto;
		float: none;
		margin: 0;
	}

    iframe {
        width: 100%;
        height: 40%;
    }

    figure.full {
        width: 90%;
    }

    figure.right {
        float: none;
        margin: 0 auto;
        width: 90%;
    }
	#gallery-quote {
		width: auto;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 600px) and (max-width: 769px) {
    #main {
        width: 580px;
    }

    #chart_div {
        width: 90%;
    }

	#photo-gallery {
		overflow: hidden;
        width: auto;
		float: none;
		margin: 0;
	}
    figure.full{
        width: 90%;
    }

    iframe {
        width: 100%;
        height: 350;
    }
	#gallery-quote {
		width: auto;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 770px) and (max-width: 979px) {
    #main {
        width: 720px;
    }

    figure.full{
        width: 100%;
    }

    iframe {
        width: 100%;
    }

	#gallery-quote {
		width: 365px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
    /*  */
}
