/* Landscape phones and down */
@media (max-width: 480px) {
    #main {
        width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    #main {
        width: 440px;
    }
}

@media (max-width: 599px) {
    header {
        background-image: url(img/yucatan.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
    }

    #container {
        top: 300px;
    }

    h1 {
        font-size: 35px;
    }

    video {
        display: none;
    }
	
	#photo-gallery {
		overflow: hidden;
		width: 100%;
		float: none;
		margin: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 600px) and (max-width: 769px) {
    #main {
        width: 580px;
    }

    #chart_div {
        width: 90%;
    }
	
	#photo-gallery {
		overflow: hidden;
		width: 90%;
		float: none;
		margin: 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 770px) and (max-width: 979px) {
    #main {
        width: 720px;
    }
	#photo-gallery {
		margin: 0;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
    /*  */
}
