/* Landscape phones and down */
@media (max-width: 480px) {
    #container {
        width: 95%;
    }
}

@media (min-width: 481px) and (max-width: 599px) {
    #container {
        width: 440px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 600px) and (max-width: 769px) {
    #container {
        width: 580px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 770px) and (max-width: 979px) {
    #container {
        width: 720px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    /*  */
}
